@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-loops-bg text-loops-main;
}

/* Custom Scrollbar for Light Mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}